selfhostgang.dynv6.net {
	root * /var/www/html
	file_server
    log {
        output file /config/caddy.log
        }
}

# calendar.selfhostgang.dynv6.net {
# 	reverse_proxy 127.0.0.1:5232
# 	log {
# 		output file /config/radicale.log
# 	}
# }
