selfhostgang.dynv6.net {
	root * /var/www/html
	file_server
    log {
        output file /config/caddy.log
        }
}

 calendar.selfhostgang.dynv6.net {
 	reverse_proxy radicale:5232
 	log {
 		output file /config/radicale.log
 	}
 }

 syncthing.selfhostgang.dynv6.net {
 	reverse_proxy syncthing:8384
 	log {
 		output file /config/syncthing.log
 	}
 }

