[Unit]
Description=Caddy webserver
Documentation=https://caddyserver.com/
After=network.target

[Service]
User=ubuntu
ExecStart=caddy run --config /home/ubuntu/docker-pi/caddy/Caddyfile
Restart=on-failure
StartLimitIntervalSec=300
SartLimitBurst=10
RestartSec=10

[Install]
WantedBy=multi-user.target
