selfhostgang.dynv6.net {
	root * /var/www/html 
	file_server
}

calendar.selfhostgang.dynv6.net {
    reverse_proxy 127.0.0.1:5232
}

nextcloud.selfhostgang.dynv6.net {
	reverse_proxy 127.0.0.1:8081
}

wiki.selfhostgang.dynv6.net {
        reverse_proxy localhost:8030
        log {
                 output file /home/ubuntu/wiki_nextcloud.log {
                        roll_size 10MiB
                }

}

